<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi Ubicación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="ion-padding">
  
      <ion-button (click)="getCurrentCoordinates()" expand="block">
        Get Location
      </ion-button>
  
    <ion-list>
      <ion-list-header>
        <ion-label>Location Coordinates</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          Latitue
        </ion-label>
        <ion-badge color="danger" slot="end">{{latitude}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Longitude
        </ion-label>
        <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
      </ion-item>
      </ion-list>    
    </div>
    <app-google-maps apiKey="AIzaSyCSCdGNfT5O7mKoh9jfPWKRTPHAZpqrezQ"></app-google-maps>
  </ion-content>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
